<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whatsappclone">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappClone"
        tools:replace="android:theme">
        <activity
            android:name=".activities.PreguntasFrecuentesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AiudaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileIndividualActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StatusDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StatusConfirmActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ConfirmarImagenSeleccionadaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CompleteInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CodeVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- para las notificaciones push -->
        <service
            android:name=".services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".receptor.ReceptorResponse"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receptor.MarcarComoLeido"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>